:root {
  --amarillo: #f4c300;
  --amarillo-oscuro: #d9ab00;
  --negro: #272727;
  --gris-oscuro: #5e5c5c;
  --gris-claro: #dddddd;
  --blanco: #ffffff;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: var(--gris-claro);
  color: var(--negro);
  line-height: 1.5;
}