h2 {
  text-align: center;
  margin: 2rem 0 1rem;
  font-size: 2rem;
}

h1 {
  text-align: center;
  margin: 2rem 0 1rem;
  font-size: 2rem;
}

.encabezado{
  text-align: center;
}

.titulo-secc-ind {
  text-align: center;
  font-size: 1.1rem;
}
