
                                        /*HEADER*/

.header {
  background: linear-gradient(90deg, var(--negro), var(--gris-oscuro));
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  border-bottom: 4px solid var(--amarillo);
}

.logo {
  width: 75px;
  border-radius: 8px;
}

.titulo-empresa {
  color: var(--amarillo);
  font-size: 1.8rem;
  letter-spacing: 1px;
}


                                     /*PREGUNTAS FRECUENTES*/


.preguntas-frecuentes {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: var(--blanco);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

details {
  margin-bottom: 1rem;
}

summary {
  cursor: pointer;
  font-weight: bold;
  color: var(--gris-oscuro);
}

                                          /*SOBRE NOSOTROS*/

.texto-relleno {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: var(--blanco);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

                                                /*MOBILE*/

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .links-header {
    justify-content: center;
  }

  .seccion {
    width: 100%;
    max-width: 360px;
  }
}

@media (max-width: 480px) {
  .titulo-empresa {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.6rem;
  }
}

